extends layout

block content
  
  #search_results
    #left-chart-card.bg-white.height-500px
      #candidates-card
        h3.cursor-pointer(onclick='add_problem("problem")')
            i.fa.fa-plus-square.fa-lg.font-blue
            |  Problems
            
        #problem-card-container
        hr
        h3.cursor-pointer(onclick='add_problem("cause")')
            i.fa.fa-plus-square.fa-lg.font-blue.cursor-pointer
            |  Causes
        #cause-card-container
        hr
        h3.cursor-pointer(onclick='add_problem("effect")')
            i.fa.fa-plus-square.fa-lg.font-blue.cursor-pointer
            |  Effects
        #effect-card-container
        hr

    #middle-chart-card.bg-white.height-500px.with-padding
      #chart-container
        left
          span.myButton()#close Close
          span.myButton()#save Save  
          span.myButton()#download Export          
        #chart-container-center.bg-white
          center
            hr
            #effect-container.container   
            br
            br
            span.bg-white#placeholder_1 Effects
            br
            br
            #problem-container.container   
            br
            br
            span.bg-white#placeholder_2 Causes
            br
            br
            #cause-container.container
            br
            hr



  script.
    data=!{JSON.stringify(data)}
    filtered_data = data
    init_chart_page();

