extends layout

block content
  
  #search_results
    #left-chart-card.bg-white.height-500px
      #candidates-card

    #middle-chart-card.bg-white.height-500px.with-padding
      #chart-container
        #effect-container.container
        br
        br
        #problem-container.container
        br
        br
        #cause-container.container



  script.
    data=!{JSON.stringify(data)}
    init_chart_page();