extends layout

block content
  
  #search_results
    #left-chart-card.bg-white.height-500px
      #candidates-card

    #middle-chart-card.bg-white.height-500px.with-padding
      #chart-card
        #effect-card.chart

        .chart.bg-white
          center
            img(class='resize', src='https://www.emoji.co.uk/files/phantom-open-emojis/symbols-phantom/13079-upwards-black-arrow.png')

        #problem-card.chart

        .chart.bg-white

        #cause-card.chart

        .chart.bg-white

  script.
    console.log(get_data());
    init_page();