doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/searchbox.css')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='shortcut icon', href='https://www.adb.org/sites/all/themes/adb_2016/favicon.ico', type='image/vnd.microsoft.icon')

    // Event handling scripts
    script(src='/javascripts/event_handler.js')

    // Startup script for setting element properties
    script(src='/javascripts/startup.js')

    script(src='http://code.jquery.com/jquery-1.4.3.min.js')

  body(onload='on_page_load();')
    div.page-wrap.no-padding-bottom
      a(href='/')
        img(src='https://www.adb.org/sites/all/themes/adb_2016/img/adb.svg')
    hr

    div.page-wrap
      block content

    div.footer
