#left-card{
	float: left; 
	width: 65%;
	overflow-y: scroll;
}

#middle-card{
	float: right; 
	width: 35%;

	border-left: 1px solid #6B6B6A;
	border-right: 1px solid #6B6B6A;
	overflow-y: scroll;
	position: relative;
}


#left-chart-card{
	float: left; 
	width: 40%;
	overflow-y: scroll;
}

#middle-chart-card{
	float: left; 
	width: 60%;

	border-left: 1px solid #6B6B6A;
	border-right: 1px solid #6B6B6A;
	overflow-y: scroll;

}

.hidden{
		visibility: hidden;
}

#right-card{
	float: left; 
	width: 25%;
	overflow-y: scroll;
	visibility: hidden;
}

.with-padding{
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.height-500px{
	height: 500px;
}

.height-50px{
	height: 50px;
}

.width-50{
	width: 50%;
}


.chart-card{
	margin: 5px;
	padding: 10px;
	width: 150px;
	height: auto;
	float: left;
	text-align: center;
	border: 1px solid;

	border-radius: 30px;
	/*box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);*/

	font-weight: bold;
		border-width: 2px;
}

#chart-container{
	background-color: white;
}

#cause-container,
#problem-container,
#effect-container{
	display: inline-block;
	text-align: center;
	margin: 10px;
  	font-size: 12px;
  	float: center;
}

.cause{
	border-color: #002569;
	color: #002569;

}

.problem{
	background-color: #FCBB45;
	border-color: #FCBB45	;
	width: auto;
	color: white;
}

.effect{
	border-color: #002569;
	color: #002569;

}



.myButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #193a78;
    -webkit-box-shadow:inset 0px 39px 0px -24px #193a78;
    box-shadow:inset 0px 39px 0px -24px #193a78;
    background-color:#002569;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #002569;
}
.myButton:hover {
    background-color:#193a78;
}
.myButton:active {
    position:relative;
    top:1px;
}