* {
  box-sizing: border-box;
}

/* Style the search field */
div.example input[type=text] {
  padding: 10px;
  border: 1px solid grey;
  float: left;
  font-size: 20px;
  height:50px;
  width: 90%;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Style the submit button */
div.example button {
  float: left;
  height: 50px;
  width: 5%;

  padding: 10px;
  background: #264083;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

div.example button:hover {
  background: #264083;
}

/* Clear floats */
div.example::after {
  content: "";
  clear: both;
  display: table;
}