body {
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-wrap {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    background-color: white;

    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.no-padding-bottom {
    padding-bottom: 0px;	
}

.footer{
    bottom: 0px;
    left: 0px;
    width: 100%;
    border: 20px solid #264083;
    position: fixed;
}

.font-grey{
    color: gray;
}